.art-container {
  display: flex;
  background-color: #FCFCFC;
  border: 1px solid #979797;
  width: 95%;
  margin: 15px auto;
  box-shadow: 0 4px 8px 0 #979797;
  align-items: center;
  justify-content: flex-start;
}

.art-img {
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  padding: 5px;
}

.art-info {
  margin-left: 5px;
}

@media screen and (min-width: 426px) {
  .art-list-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .art-container {
    display: block;
    width: 30%;
  }

  .art-img {
    width: 100%;
    height: auto;
  }
}