.homepage-title {
  text-align: center;
  font-family: 'Francois One', sans-serif;
  font-size: 48px;
}

.add-art-btn {
  margin-left: 15px;
}

.add-art-form {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .homepage-title {
    font-size: 42px;
  }
}